@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");

/* import tailwind v4 core (one line) */
@import "tailwindcss";

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
}

@custom-variant dark (&:where(.dark, .dark *, [data-theme="dark"], [data-mode="dark"], [data-theme="dark"] * , [data-mode="dark"] *));

/* Theme variables (light default) */
:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary-background: #e7f2f5;
  --icon: #595f70;
  --primary-button-bg1: #5c8ff7;
  --primary-button-bg2: #276aee;
  --primary-button-border: #1556d834;
  --secondary-button-bg1: #dddddd;
  --secondary-button-bg2: #919893;
  --secondary-button-border: #cacaca;
}

@theme {
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --color-primary-background: var(--primary-background);
  --color-icon: var(--icon);
  --color-primary-button-bg1: var(--primary-button-bg1);
  --color-primary-button-bg2: var(--primary-button-bg2);
  --color-primary-button-border: var(--primary-button-border);
  --color-secondary-button-bg1: var(--secondary-button-bg1);
  --color-secondary-button-bg2: var(--secondary-button-bg2);
  --color-secondary-button-border: var(--secondary-button-border);

  --font-inter: "Inter", sans-serif;
}

/* Class- or attribute-driven dark mode (overrides variables) */
html.dark,
[data-theme="dark"],
[data-mode="dark"] {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary-background: #1a1a1a;
  --icon: #a3aaba;
  --primary-button-bg1: #5c8ff7;
  --primary-button-bg2: #276aee;
  --primary-button-border: #1556d834;
  --secondary-button-bg1: #dddddd;
  --secondary-button-bg2: #919893;
  --secondary-button-border: #cacaca;
  
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Inter", sans-serif;
  transition:
    background-color 160ms ease,
    color 160ms ease;
}

/* scrollbar */
.hide-scrollbar {
  /* For Internet Explorer and Edge (legacy) */
  -ms-overflow-style: none;
  /* For Firefox */
  scrollbar-width: none;
}

/* For Chrome, Safari, Opera, and new Edge (Chromium-based) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
